@import url(./components/fonts/stylesheet.css);
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #337347;
  z-index: 10;
}
.logo {
  display: flex;
  margin-left: 5%;
 /* position: absolute;*/
  width: 20%;
  height: 54px;
  left: 100px;
  top: 8px;
  /*background: url(./components/img/logo.svg);*/
}
.mainMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 54px;
  width: 50%;
}
/*.mainMenu ul li {
  display: inline-block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}*/
.mainMenu a {
  text-decoration: none;
  color: white;
}
.mainMenu a:hover {
  text-decoration: underline;
}
.active-link {
  color: #FFB703 !important;
}
.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.search {
  display: flex;
  margin-right: 5%;
  width: 190px;
  height: 40px;
  border-radius: 13px;
  background-color: #337347;
  border: 2px white solid;
  background-image: url(./components/img/search.svg);
  background-position: 10px;
  background-repeat: no-repeat;
 /* position: absolute;*/
}
.search input {
  color: white;
  padding-left: 40px;
  background: none;
  border: none;
  outline: none;
}
.searchSinglResult {
  width: 195px;
  display: flex;
  flex-direction: row;
}
.search ul {
  position: relative;
  top: 25px;
  right: 250px;
}
.search li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  gap: inherit;
  width: 195px;
  border: 2px #337347 solid;
  border-radius: 13px;
  background-color: white;
}
.searchCompanyLogo {
  width: 50px;
  height: 50px;
}
.search input::placeholder {
  color: white;
}
.headPadding {
  width: 100%;
  height: 50px;
}
/*.search input:focus {
  color: white;
  border: 2px white solid;
  padding-left: 20px;
  background: url(./components/img/search.svg) no-repeat;
  background-position: 10px;
}*/
.language {
  display: flex;
  margin-right: 5%;
}
.language img {
  width: 20px;
  height: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  /*padding-top: 80px;*/
  /*height: 100vh;*/
}
.componentPage {
  display: flex;
  height: 100vh;
  min-height: 751px;
}
.arnamentLeft {
  position: absolute;
  width: 75px;
  height: 100vh;
  min-height: 751px;
  left: 3%;  
  background: url(./components/img/arnament.svg) repeat-y;
}
.arnamentRight {
    position: absolute;
    width: 75px;
    height: 100vh;
    min-height: 751px;
    right: 3%;  
    background: url(./components/img/arnament.svg) repeat-y;
  }
  /* Главная */
  .homepageMain {
    width: 80%;
    height: 100vh;
    min-height: 751px;
    margin: auto;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 751px;
  }
  .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 163px;
    gap: 15px;
  }
  .mainContent h1 {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 79.7346px;
    line-height: 99px;
    color: #2E401C;
    height: 99px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .mainContent h3 {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40.493px;
    line-height: 49px;
    color: #2E401C;
    height: 49px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .mainBrandsPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 396px;
    gap: 20px;
  }
  .mainBrand1{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand1.svg) no-repeat;
  }
  .mainBrand2{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand2.svg) no-repeat;
    align-self: flex-end;
  }
  .mainBrand3{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand3.svg) no-repeat;
  }
  .mainBrand4{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand4.svg) no-repeat;
    align-self: flex-end;
  }
/* О нас */ 
  .aboutMain {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100vh;
    min-height: 848px;
    margin: auto;
}
.aboutLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.aboutLeft h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 66.129px;
    line-height: 82px;
    color: #2E401C;
}
.aboutLeft h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 25.7143px;
    line-height: 31px;
    color: #2E401C;
}
.aboutRight {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
}
.aboutImg1 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    background: url(./components/img/aboutImg1.svg);
    border-radius: 20px;
    left: 240px;
    margin-top:  140px;
    z-index: 1;
}
.aboutImg2 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    left: 70px;
    background: url(./components/img/aboutImg2.svg);
    border-radius: 20px;
    transform: rotate(-13.12deg);
}
/* Компании */
.companies{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 1475px;
  margin: 12px auto;
}
.companiesNav {
  display: flex;
  justify-content: left;
  align-items: center;
}
.companiesNav ul {
  display: flex;
  padding-inline-start: 0;
}
.companiesNav li {
  list-style: none;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 1px solid #337347;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companiesNav li a {
  width: 6px;
  height: 12px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #337347;
}
.pagination-link-active {
  color: #FFF4F4 !important;
}
.pagination-item-active {
  background: rgba(51, 115, 71, 0.52) !important;
}
.btnBack {
  display: flex;
  width: 16px;
  height: 16px;
  padding-right: 85px;
  background: url(./components/img/backicon.svg) no-repeat;
}
.btnBack[disabled] {
  pointer-events: none !important;
}
.btmNext {
  display: flex;
  width: 16px;
  height: 16px;
  padding-left: 85px;
  background: url(./components/img/backicon.svg) no-repeat;
  transform: rotate(180deg);
}
.btmNext[disabled] {
  pointer-events: none !important;
}
.companieRotate {
  width: 100%;
  /*height: 80%;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px 190px;
}
.companie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 550px;
  width: 285px;
  margin-top: 48px;
}
.companieName {
  width: 119px;
  height: 43px;
}
.companie h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #2E401C;
}
.companie img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 460px;
  border-radius: 20px;
}
.morebutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 201px;
  height: 43.13px;
  margin-top: 22px;
  background: #337347;
  border-radius: 8.20408px 0px;
}
.companie h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24.6122px;
  line-height: 30px;
  color: #FFFFFF;
}
/* Стили одна компания */
.singlPageComanie{
  width: 90%;
  height: 100vh;
  min-height: 944px;
  margin: auto;
}
.backicon {
  width: 16px;
  height: 16px;
  background-image: url(./components/img/backicon.svg);
  margin-left: 6%;
  margin-top: 130px;
}
.singlCompanie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.singlCompanie .left {
  width: 40%;
  padding-left: 2%;
}
.singlCompanie .left h1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #2E401C;
}
.singlCompanie .left h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px; 
  color: #2E401C;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-right: 2%;
}
.companyLogo {
  display: flex;
  width: 400px;
  height: 401px;
}
.img{
  display: flex;
  width: 400px;
  height: 401px;
}
.url{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 201px;
  height: 43.13px;
  background: #337347;
  border-radius: 8.20408px 0px;
}
.url a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24.6122px;
  line-height: 30px;
  color: #FFFFFF;
}
.companieSlided {
  width: 100%;
}
.imgSlider {
  width: 297px;
  height: 258px;
}
.nameProducts h3 {
  width: 143px;
  height: 43px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;

color: #337347;
}
/* Конец - Стили одна компания */
/* Стили контакты */
.contactsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    min-height: 944px;
    margin: auto;
}
.contactsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 614px;
    background: #337347;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.contactHeader p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}
.callUs {
    display: flex;
    flex-direction: column;
    /*ustify-content: space-around;*/
    align-items: center;
    box-sizing: border-box;
    width: 265px;
    height: 265px;
    left: 310px;
    top: 367px;
    border: 3px dashed #FFFFFF;   
    border-radius: 50%;     
}
.callUs h3 {
    padding-top: 54px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
}
.callUs h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}
.contactIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.contactLineItems {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 170px;
}
.contactLineItems h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
}
.mailIcon {
    width: 20px;
    height: 18px;
    background: url(./components/img/mailIcon.svg) no-repeat;
}
.addressIcon {
    width: 18px;
    height: 22px;
    background: url(./components/img/addressIcon.svg) no-repeat;
}
.contactMap {
    margin: auto;
    width: 420px;
    height: 472px;
    /*background: url(./components/img/Bishkek.svg) no-repeat;*/
    display: flex;
    justify-content: center;
}
/* Ya Map */
.yaMap {
  width: 420px;
  height: 472px;
}