@import url(./components/fonts/stylesheet.css);
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #337347;
  z-index: 10;
}
.logo {
  display: flex;
  margin-left: 5%;
 /* position: absolute;*/
  width: 20%;
  height: 54px;
  left: 100px;
  top: 8px;
  background: url(./components/img/logo.svg) no-repeat;
  background-size: 100% 100%;
}
.burger-btn {display: none;}
.mobile-menu {display: none;}
.mainMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 54px;
  width: 50%;
}
/*.mainMenu ul li {
  display: inline-block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}*/
.mainMenu a {
  text-decoration: none;
  color: white;
}
.mainMenu a:hover {
  text-decoration: underline;
}
.active-link {
  color: #FFB703 !important;
}
.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.search {
  display: flex;
  margin-right: 5%;
  width: 190px;
  height: 40px;
  border-radius: 13px;
  background-color: #337347;
  border: 2px white solid;
  background-image: url(./components/img/search.svg);
  background-position: 10px;
  background-repeat: no-repeat;
 /* position: absolute;*/
}
.search input {
  color: white;
  padding-left: 40px;
  background: none;
  border: none;
  outline: none;
}
.search input::placeholder {
  color: white;
}
.headPadding {
  width: 100%;
  height: 50px;
}
/*.search input:focus {
  color: white;
  border: 2px white solid;
  padding-left: 20px;
  background: url(./components/img/search.svg) no-repeat;
  background-position: 10px;
}*/
.language {
  display: flex;
  margin-right: 5%;
  position: relative;
}
.language:hover::after {
  content: attr(data-title);
  position: absolute; /* Абсолютное позиционирование */
  right: -3px; top: 20px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 11px; /* Размер текста подсказки */
  padding: 5px 5px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
}
.language img {
  width: 20px;
  height: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  position: relative;
}
.componentPage {
  display: flex;
  height: 100vh;
  min-height: 751px;
}
.arnamentLeft {
  position: absolute;
  width: 75px;
  height: 100vh;
  min-height: 751px;
  left: 3%;  
  background: url(./components/img/arnament.svg) repeat-y;
}
.arnamentRight {
    position: absolute;
    width: 75px;
    height: 100vh;
    min-height: 751px;
    right: 3%;  
    background: url(./components/img/arnament.svg) repeat-y;
  }
  /* Главная */
  .mobileLogoMain {
    display: none;
  }
  .homepageMain {
    width: 80%;
    height: 100vh;
    min-height: 751px;
    margin: auto;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 751px;
  }
  .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 163px;
    gap: 15px;
  }
  .mainContent h1 {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 79.7346px;
    line-height: 99px;
    color: #2E401C;
    height: 99px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .mainContent h3 {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40.493px;
    line-height: 49px;
    color: #2E401C;
    height: 49px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .mainBrandsPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 396px;
    gap: 20px;
  }
  .mainBrand1{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand1.svg) no-repeat;
  }
  .mainBrand2{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand2.svg) no-repeat;
    align-self: flex-end;
  }
  .mainBrand3{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand3.svg) no-repeat;
  }
  .mainBrand4{
    width: 190px;
    height: 286px;
    border-radius: 20px;
    background: url(./components/img/mainBrand4.svg) no-repeat;
    align-self: flex-end;
  }
/* О нас */ 
.arnamentRightAbout {
  position: absolute;
  width: 75px;
  height: 100vh;
  min-height: 751px;
  right: 3%;  
  background: url(./components/img/arnament.svg) repeat-y;
}
  .aboutMain {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100vh;
    min-height: 848px;
    margin: auto;
}
.aboutLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
}
.aboutLeft h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 66.129px;
    line-height: 82px;
    color: #2E401C;
}
.aboutLeft h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 25.7143px;
    line-height: 31px;
    color: #2E401C;
}
.aboutRight {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}
.aboutImg1 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    background: url(./components/img/aboutImg1.svg);
    border-radius: 20px;
    left: 240px;
    margin-top:  140px;
    z-index: 1;
}
.aboutImg2 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    left: 70px;
    background: url(./components/img/aboutImg2.svg);
    border-radius: 20px;
    transform: rotate(-13.12deg);
}
/* Компании */
.companies{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 1475px;
  margin: 12px auto;
}
.companiesNav {
  display: flex;
  justify-content: left;
  align-items: center;
}
.companiesNav ul {
  display: flex;
  padding-inline-start: 0;
}
.companiesNav li {
  list-style: none;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 1px solid #337347;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companiesNav li a {
  width: 6px;
  height: 12px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #337347;
}
.pagination-link-active {
  color: #FFF4F4 !important;
}
.pagination-item-active {
  background: rgba(51, 115, 71, 0.52) !important;
}
.btnBack {
  display: flex;
  width: 16px;
  height: 16px;
  padding-right: 85px;
  background: url(./components/img/backicon.svg) no-repeat;
}
.btnBack[disabled] {
  pointer-events: none !important;
}
.btmNext {
  display: flex;
  width: 16px;
  height: 16px;
  padding-left: 85px;
  background: url(./components/img/backicon.svg) no-repeat;
  transform: rotate(180deg);
}
.btmNext[disabled] {
  pointer-events: none !important;
}
.companieRotate {
  width: 100%;
  /*height: 80%;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px 190px;
}
.companie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 550px;
  width: 285px;
  margin-top: 48px;
}
.companieName {
  width: 119px;
  height: 43px;
}
.companie h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #2E401C;
}
.companie img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 460px;
  border-radius: 20px;
}
.morebutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 201px;
  height: 43.13px;
  margin-top: 22px;
  background: #337347;
  border-radius: 8.20408px 0px;
}
.companie h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24.6122px;
  line-height: 30px;
  color: #FFFFFF;
}
/* Стили одна компания */
.singlPageComanie{
  width: 90%;
  height: 100vh;
  min-height: 944px;
  margin: auto;
}
.backicon {
  width: 16px;
  height: 16px;
  background-image: url(./components/img/backicon.svg);
  margin-left: 6%;
  margin-top: 130px;
}
.singlCompanie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.singlCompanie .left {
  width: 40%;
  padding-left: 2%;
}
.singlCompanie .left h1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #2E401C;
}
.singlCompanie .left h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px; 
  color: #2E401C;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-right: 2%;
}
.companyLogo {
  display: flex;
  width: 400px;
  height: 401px;
}
.img{
  display: flex;
  width: 400px;
  height: 401px;
}
.url{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 201px;
  height: 43.13px;
  background: #337347;
  border-radius: 8.20408px 0px;
}
.url a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24.6122px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 8px;
}
.url-mobile {display: none;}
.companieSlided {
  width: 100%;
}
.imgSlider {
  width: 297px;
  height: 258px;
}
.nameProducts h3 {
  width: 143px;
  height: 43px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;

color: #337347;
}
/* Конец - Стили одна компания */
/* Стили контакты */
.contactsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    min-height: 944px;
    margin: auto;
}
.contactsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 614px;
    background: #337347;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.contactHeader p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}
.callUs {
    display: flex;
    flex-direction: column;
    /*ustify-content: space-around;*/
    align-items: center;
    box-sizing: border-box;
    width: 265px;
    height: 265px;
    left: 310px;
    top: 367px;
    border: 3px dashed #FFFFFF;   
    border-radius: 50%;     
}
.callUs h3 {
    padding-top: 54px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
}
.callUs h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}
.contactIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.contactLineItems {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 170px;
}
.contactLineItems h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
}
.mailIcon {
    width: 20px;
    height: 18px;
    background: url(./components/img/mailIcon.svg) no-repeat;
}
.addressIcon {
    width: 18px;
    height: 22px;
    background: url(./components/img/addressIcon.svg) no-repeat;
}
.contactMap {
    margin: auto;
    width: 420px;
    height: 472px;
    /*background: url(./components/img/Bishkek.svg) no-repeat;*/
    display: flex;
    justify-content: center;
}
/* Ya Map */
.yaMap {
  width: 420px;
  height: 472px;
}

/* Мобильная версия */

@media (max-width: 480px) {
  /* Header*/
  header {
    width: 120%;
    height: 40px;
    position: sticky; 
  }
  .logo {
    width: 23.15px;
    height: 25px;
    background: url(./components/img/logo_min.png) no-repeat;
    background-size: 100% 100%;
  }
  .mainMenu {
    display: none;
  }
  .burger-btn {
    display: flex;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  .burger-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  .burger-btn span {
    position: absolute;
    top: 9px;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  .burger-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  .mobile-menu {display: flex;}
  .burgeMenu {
    position: fixed;
    width: 100vw;
    height: 200px;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #337347;
    border: 1px white solid;
    transform: translateX(-100%);
    transition: all 0.2s;
  }
  .burgeMenu.active {
    transform: translateX(0);
  }
  .burgeMenu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .burgeMenu a:hover {
    text-decoration: underline;
  }
  .headerRight {
    width: 80%;
  }
  .search {
    width: 113px;
    height: 16px;
    background-size: 8.46px 8.46px;
    background-position: 5px;
    border-radius: 5px;
  }
  .search input {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-left: 15px;
  }
  .headPadding {
    height: 40px;
  }
  /* Гавная Мобилка */
  .arnamentLeft {
    bottom: 195px;
    width: 26px;
    height: 345px;
    background-size: 26px;
    transform: rotate(90deg);
  }
  .arnamentRight {
    top: 400px;
    width: 26px;
    height: 345px;
    background-size: 26px;
    transform: rotate(90deg);
    }
    .homepageMain {
      width: 100%;
      height: 852px;
    }
    .mainContent {
      min-height: 852px;
    }
    .slogan {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 414px;
      height: 244px;
      gap: 15px;
      background: #337347;
    }
    .mainContent h1 {
      position: absolute;
      width: 157px;
      height: 29px;
      left: 196px;
      top: 33px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      color: #FFB703;
      height: 99px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
    .mainContent h3 {
      display: flex;
      position: absolute;
      width: 229px;
      height: 36px;
      left: 123px;
      top: 141px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      text-align: right;
      color: #FFFFFF;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
    .mobileLogoMain {
      position: absolute;
      display: flex;
      width: 290px;
      height: 80px;
      left: 62px;
      top: 54px;
      background: url(./components/img/logo.svg) no-repeat;
      background-size: 100% 100%;
    }
    .mainBrandsPhoto {
      position: absolute;
      top: 320px;
      flex-wrap: wrap;
      height: 283px;
      gap: 30px 45px;
    }
    .mainBrand1{
      width: 126.34px;
      height: 190px;
      background-size: 100% 100%;
    }
    .mainBrand2{
      width: 126.34px;
      height: 190px;
      background-size: 100% 100%;
    }
    .mainBrand3{
      width: 126.34px;
      height: 190px;
      background-size: 100% 100%;
    }
    .mainBrand4{
      width: 126.34px;
      height: 190px;
      background-size: 100% 100%;
    }
    /* О нас */ 
    .arnamentRightAbout {
      display: none;
    }
    .aboutMain {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
    .aboutLeft {
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .aboutLeft h1 {
      /*position: absolute;
      top: -37px;*/
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #FFB703;      
    }
    .aboutLeft h3 {
      /*position: absolute;
      top: 26px;*/
      width: 80%;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
    .aboutRight {
        width: 100%;
        height: 100%;
        min-height: 365px;
        /*position: absolute;
        top: 623px;*/
    }
    .aboutImg1 {
        width: 185px;
        height: 266px;
        background-size: 100% 100%;
        left: 130px;
        top: 110px;
        margin-top: 0;
    }
    .aboutImg2 {
        width: 185px;
        height: 266px;
        background-size: 100% 100%;
    }
    /* Company */
    .companies{
      width: 80%;
      min-height: 850px;
      margin: 12px auto;
    }
    .companieRotate {
      gap: 39px 55px;
    }
    .companie {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 240px;
      width: 112px;
      margin-top: 30px;
    }
    .companieName {
      width: 44px;
      height: 16px;
    }
    .companie h1 {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px; 
    }
    .companie img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 180px;
      border-radius: 20px;
    }
    .morebutton{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 19px;
      margin-top: 22px;
      background: #337347;
      border-radius: 8.20408px 0px;
    }
    .companie h3 {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
    }
    /* Стили контакты */
    .contactsMain {
      min-height: 844px;
    }
    .contactsContent {
      flex-direction: column;
      height: 753px;
    }
    .leftColumn {
      width: 100%;
    }
    .contactHeader p{
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    .callUs {
      width: 228.45px;
      height: 228.45px;
    }
    .callUs h3 {
      padding-top: 24px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    .callUs h1{
      font-size: 20px;
      line-height: 24px;
    }
    .contactLineItems h3 {
      font-size: 15px;
      line-height: 18px;
    }
    .mailIcon {
      width: 20px;
      height: 18px;
      background: url(./components/img/mailIcon.svg) no-repeat;
    }
    .addressIcon {
      width: 18px;
      height: 22px;
      background: url(./components/img/addressIcon.svg) no-repeat;
    }
    .contactMap {
      width: 250px;
      height: 291px;
      align-items: center;
    }
    /* Ya Map */
    .yaMap {
    width: 220px;
    height: 261px;
    }
    /* Стили одна компания */
    .backicon {
      width: 13px;
      height: 13px;
      background-size: 100% 100%;
      margin-top: 30px;
    }
    .singlCompanie {
      width: 100%;
    }
    .singlCompanie .left {
      width: 100%;
      min-width: 338px;
      margin-top: 90px;
    }
    .singlCompanie .left h1 {
      font-size: 15px;
      line-height: 18px;
    }
    .singlCompanie .left h3 {
      font-size: 18px;
      line-height: 21px;
    }
    .right {
      width: 100%;
    }
    .companyLogo {
      position: absolute;
      top: 30px;
      left: 138px;
      width: 140px;
      height: 90px;
    }
    .img{
      display: flex;
      width: 140px;
      height: 90px;
    }
    .url {display: none;}
    .url-mobile{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      min-width: 66px;
      height: 19px;
      background: #337347;
      border-radius: 8.20408px 0px;
    }
    .url-mobile a {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
    }
    .companieSlided {
      width: 100%;
    }
    .imgSlider {
      width: 120px;
      height: 160px;
    }
    .slick-slider {
      height: 160px;
    }
    .slick-slider img {
      width: 120px !important;
      height: 160px !important;
    }
    .nameProducts {
      display: flex;
      justify-content: center;
      height: 50px;
    }
    .nameProducts h3 {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
 }